.profile__edit-button {
  background: url(../../../images/profile/edit_button.svg);
  background-size: 18px 18px;
  border: none;
  height: 18px;
  width: 18px;
  display: flex;
  margin: 5px 0 0 10px;
  padding: 0;
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: opacity .35s ease-in-out;
}

@media only screen and (min-width: 1100px) {
  .profile__edit-button {
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    margin: 18px 0 0 9px;
  }
}
