.cards__like-button {
  border: none;
  background: url(../../../images/cards/like-button.svg);
  height: 18.13px;
  width: 21px;
  margin-right: 18px;
}

.cards__like-button:hover {
  opacity: 0.5;
}
