.footer {
  margin: 28px 19px 36px;
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: left;
}

@media only screen and (min-width: 625px) {
  .footer {
    margin: 0 auto 36px auto;
    width: 575px;
  }
}

@media only screen and (min-width: 1100px) {
  .footer {
    width: 880px;
  }
}
