.popup__input {
  padding-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0 22px;
  width: 238px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.popup__input:nth-child(3n) {
  margin-bottom: 46px;
}

@media only screen and (min-width: 1100px) {
  .popup__input {
    margin: 0 36px;
    width: 358px;
  }

  .popup__input:nth-child(3n) {
    margin-bottom: 49px;
  }
}
