.profile__occupation {
  color: white;
  font-family: 'Inter',A rial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  width: 282px;
  text-align: center;
  margin: 0 19px 36px;
}
